####################################
# Python
####################################
__pycache__/
*.py[cod]
*$py.class

####################################
# Jupyter
####################################
.ipynb_checkpoints/

####################################
# VS Code
####################################
.vscode/

####################################
# IntelliJ
####################################
.idea/

####################################
# Windows
####################################
Thumbs.db
desktop.ini

####################################
# macOS
####################################
.DS_Store

####################################
# Tableau
####################################
*.hyper
*.tde

####################################
# Logs
####################################
*.log

####################################
# Temporary
####################################
*.tmp
*.bak